html { font-family: 'Droid Sans', sans-serif; }
body { margin: 1em; max-width: 600px; }
/* .title { font-size: 60px; position: absolute; bottom: 20px; right: 2em; color: #444; } */
.title { font-size: 60px; position: absolute; bottom: 20px; right: 2em; color: #444; }
.title_image { margin-left: 1em; }
.rel { position: relative; }

.reports { margin: 1em; }
.reports > a { color: #444; text-decoration: none; }
.reports > a:hover { color: black; text-decoration: none; }

.bold { font-weight: bold; }
td { padding-right: 0.5em; }

a { color: #222; text-decoration: none; }
a:hover { color: black; }
