@import url(http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

html { font-family: 'Droid Sans', sans-serif; }
body { margin: 1em; }
th { padding-right: 1em; font-weight: bold; min-width: 6em; text-align: left; }
th:hover { cursor: pointer; }
td { padding-right: 1em; text-align: left; max-width: 60em; word-wrap: break-word; }

.hoverable:hover { background: #c6daf4; }

.align-right { text-align: right; }
.number { text-align: right; }
.clicked { background: #d1c5ff !important; }
td.tiny { font-size: 80%; }

label { font-weight: bold; }
.input-comment { color: #666; font-size: 90%; }

.vgap { margin-bottom: 0.5em; }

a { color: #222; text-decoration: none; }
a:hover { color: black; }

.report-label { font-weight: bold; font-size: 131%; margin-bottom: 0.5em; }
