<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{{static_url('favicon.ico')}}">
	<link rel="stylesheet" type="text/css" href="/{{static_url('css/reset-min.css')}}">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans">
    {% block style %}<link rel="stylesheet" type="text/css" href="{{static_url('css/main.css')}}">{% end %}
    {% block js %}{% end %}
  </head>
  <body>
    <div id="bd">
      {% block body %}
      {% end %}
    </div> <!-- bd -->
  </body>
</html>
