{% extends "base.html" %}

{% block js %}
<script type="text/javascript" src="{{jquery_url}}"></script>
<script type="text/javascript" src="{{static_url('js/color.min.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/home.js')}}"></script>
{% end %}

{% block body %}
<div class="rel">
  <img src="{{static_url('images/purple.png')}}" class="title_image" >
  <span class="title">Kohlrabi</span>
</div>
<!--
<a class="reports bold" href="{{uri('/query')}}">Ad-Hoc Query Tool</a>
-->

{% if False %}
<table class="reports">

  <tr class="underline">
    <th></th>
    {% for display_name, _ in report_names %}
    <th>{{ escape(display_name) }}</th>
    {% end %}
  </tr>
  {% for date, tables in reports %}
  <tr>
	<td class="bold">{{ date }}</td>
    {% for tbl in tables %}
    <td class="{% if tbl %}has_data{% else %}no_data{% end %}"></td>
    {% end %}
  </tr>
  {% end %}
</table>
{% else %}
<ul class="reports">
  {% for date in dates %}
  <li>
    <span class="date">{{ date }}</span>
    <ul class="report_items">
      {% for table in date_map[date] %}
      <li>
        <canvas class="canvas_{{escape(table.__name__)}}" width="10" height="10"></canvas>
        <a href="{{uri('/report/' + table.__name__ + '/' + date.strftime('%Y-%m-%d'))}}" class="report_link">{{ escape(table.display_name)}}</a>
        {% for variant_name, values in table.variant_map() %}
        {% if values %}
        <span class="variant">
          <span class="variant_name">{{variant_name}}</span>:
          <select>
            <option value=""></option>
            {% for value in values %}
            <option value="{{escape(value)}}">{{escape(value)}}</option>
            {% end %}
          </select>
        </span>
        {% end %}
        {% end %}
      </li>
      {% end %}
    </ul>
  </li>
  {% end %}
</ul>
{% end %}

{% if num_pages > 1 %}
<div class="pagination">
  Pages:
  {% for x in xrange(1, num_pages + 1) %}
  {% if x == page %}
  <span class="bold">{{ x }}</span>
  {% else %}
  <a href="{{uri('/%d' % (x,))}}">{{x}}</a>
  {% end %}
  {% end %}
</div>
{% end %}
{% end %}
