{% extends "base.html" %}

{% block body %}
<div class="rel">
  <img src="{{static_url('images/purple.png')}}" class="title_image" >
  <span class="title">Kohlrabi</span>
</div>
<!--
<a class="reports bold" href="{{uri('/query')}}">Ad-Hoc Query Tool</a>
-->

{% if False %}
<table class="reports">

  <tr class="underline">
    <th></th>
    {% for display_name, _ in report_names %}
    <th>{{ escape(display_name) }}</th>
    {% end %}
  </tr>
  {% for date, tables in reports %}
  <tr>
	<td class="bold">{{ date }}</td>
    {% for tbl in tables %}
    <td class="{% if tbl %}has_data{% else %}no_data{% end %}"></td>
    {% end %}
  </tr>
  {% end %}
</table>
{% else %}
<ul class="reports">
  {% for date, tables in reports %}
  <li>
    <span class="date">{{ date }}</span>
    <ul class="report_items">
      {% for tbl in tables %}
      {% if tbl %}
      <li> <a href="{{uri('/report/' + tbl[1] + '/' + date)}}">{{ escape(tbl[0])}}</a></li>
      {% end %}
      {% end %}
    </ul>
  </li>
  {% end %}
</ul>
{% end %}

{% if num_pages > 1 %}
<div class="pagination">
  Pages:
  {% for x in xrange(1, num_pages + 1) %}
  {% if x == page %}
  <span class="bold">{{ x }}</span>
  {% else %}
  <a href="{{uri('/%d' % (x,))}}">{{x}}</a>
  {% end %}
  {% end %}
</div>
{% end %}
{% end %}
