{% extends "base.html" %}

{% block body %}
<div class="rel">
  <img src="{{static_url('images/purple.png')}}" class="title_image" >
  <span class="title">Kohlrabi</span>
</div>
<!--
<a class="reports bold" href="{{uri('/query')}}">Ad-Hoc Query Tool</a>
-->
<table class="reports">
  {% for date, tables in reports %}
  <tr>
	<td class="bold">{{ date }}</td>
	<td><a href="{{uri('/report/' + tables[0]['table_name'] + '/' + date)}}">{{ tables[0]['name'] }}</a></td>
  </tr>
  {% for table in tables[1:] %}
  <tr>
	<td></td>
	<td><a href="{{uri('/report/' + table['table_name'] + '/' + date)}}">{{ table['name'] }}</a></td>
  </tr>
  {% end %}
  {% end %}
</table>
{% if num_pages > 1 %}
<div class="pagination">
  Pages:
  {% for x in xrange(1, num_pages + 1) %}
  {% if x == page %}
  <span class="bold">{{ x }}</span>
  {% else %}
  <a href="{{uri('/%d' % (x,))}}">{{x}}</a>
  {% end %}
  {% end %}
</div>
{% end %}
{% end %}
