{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{static_url('css/report.css')}}">
{% end %}

{% block js %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="{{static_url('js/report.js')}}"></script>
{% end %}


{% block body %}
<div class="vgap"><a href="/">Back to All Reports</a></div>
<label for="servlet_filter">Servlet Filter: </label><input type="text" id="servlet_filter"/>
<span class="input-comment">
  (e.g. "main:biz_details"; may be slow!)
</span>
<table id="kohlrabi_table">
  <tr>
    {% for c in columns %}
    <th class="{{c.css_class}}">{{escape(c.display)}}</th>
    {% end %}
  </tr>
  {% for datum in data %}
  <tr class="hoverable">
    {% for c in columns %}
    <td class="{{c.css_class}}" title="{{escape(c.display)}}">{{ c.format(getattr(datum, c.name)) }}</td>
    {% end %}
  </tr>
  {% end %}
</table>

<script type="text/javascript">
  establishInputFilter($('#servlet_filter'), 0);
</script>
{% end %}
